$color-purple: rgb(150, 85, 144);
$color-dark-chocolate: rgb(83, 69, 82);

.submit-order{
    &__title{
        color: $color-purple
    }
    &__list{
        height: initial;
    }
    &__list-item{
        h1, p{
            font-size: 2vw;
            color: white;
        }
    }
    &__button{
        height: 3vw;
        font-size: 2vw;
        background-color: $color-dark-chocolate;
        color: white;
    }
}

