.form-item{
    display: block;
    margin-top: 30px;
    font-size: 1.5vw;
    color: white;
    background-color: rgb(46, 45, 45);
    border: none;
    height: 3vw;
}
.bordered{
    border: 1px solid white;
    border-radius: 10px;
}