.forms{
    width: 50%;
    min-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: .7vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(31, 31, 31);

    &__fieldset{
        width: 70%;
        color: white;
    }
    &__text-input{
        width: 19vw;
        height: 2.5vw;
    }
    &__button{
        height: 2.5vw;
        transition: .5s;
        margin-bottom: 2vw;
        background-color: rgb(172, 149, 192);
        color:rgb(46, 45, 45);
        &:hover{
            background-color: rgb(201, 179, 206);
        }
    }
    &__legend{
        background-color: rgb(31, 31, 31);
        padding-top: 2vw;
        font-size: 1.5vw;
    }
}


