$color-dark-brown: rgb(31, 31, 31);
$color-light-violet: rgba(192, 164, 212, 0.616);
$color-light-pink: rgb(201, 179, 206);

.forms{
    width: 50%;
    min-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: .7vw;
    border: 1px solid black;
    border-radius: 20px;
    background-color: $color-dark-brown;

    &__fieldset{
        width: 70%;
        color: white;
        border: none;
    }
    &__text-input{
        width: 19vw;
        height: 2.5vw;
    }
    &__button{
        height: 2.5vw;
        transition: .5s;
        margin-bottom: 2vw;
        background-color: $color-light-violet;
        color: $color-dark-brown;
        &:hover{
            background-color: $color-light-pink
        }
    }
    &__legend{
        background-color: $color-dark-brown;
        padding-top: 2vw;
        font-size: 1.5vw;
    }
}


