$color-dark-chocolate: rgb(46, 45, 45);

.form-item{
    display: block;
    margin-top: 1.5vw;
    font-size: 1.3vw;
    color: white;
    background-color: $color-dark-chocolate;
    border: none;
    height: 2.5vw;
}
.bordered{
    border: 1px solid white;
    border-radius: 10px;
}