body{
    width: 100%;
    background-color: rgb(111, 108, 128);
    .content{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 5vw;
        .shedule-page{
            width: 100%;
        }
    }
}