$color-transparent-purple: rgba(150, 85, 144, 0.3);
$color-purple: rgb(150, 85, 144);
$color-dark-brown: rgb(31, 31, 31);
$color-dark-chocolate: rgb(83, 69, 82);
$color-purple-standard: rgb(122, 53, 156);
$color-red-loveseats: rgb(194, 55, 108);
$color-blue-comfort: rgb(42, 32, 139);

.order-section{
    width: 70%;
    background-color: $color-dark-brown;
    min-width: 640px;
    margin: auto;
    display: block;
    justify-content: space-around;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 20px;
}

.film-info-panel{
    background-color: $color-transparent-purple;
    width: 100%;
    display: flex;
    border-radius: 20px 20px 0 0;

    &__img-container{
        width: 30%;
    }

    &__description{
        width: 70%;
        color: white;
    }

    h1, p{
        margin: 1% 1%;
        font-family: Arial, Helvetica, sans-serif;
        opacity: 0.7;
    }
    h1{
        font-size: 2vw;
    }
}

.order-form{
    display: flex;

    .order-options{
        margin: 0 0 0 5%;
        width: 50%;
        h3{
            font-size: 1.5vw;
            text-align: center;
            color:  $color-purple;
            margin: 2vw 0 1vw 0;
        }
    }
}

.hall-plan{
    margin-top: 2vw;

    &__screen{
        width: 100%;
        fill:$color-dark-brown;
        stroke: $color-purple-standard;
        stroke-width: 3;
    }

    &__seats{
        width: 100%;
        margin-bottom: 5%;
    }

    &__line{
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 5%;
    }

    &__seat-svg-container{
        height: 4em;
    }
    &__seat{
        height: 100%;
        width: 100%;
        fill :$color-dark-brown;
        stroke: $color-purple-standard;
        stroke-width: 10;
        transition: 0.5s;

        &.loveseat{
            stroke: $color-red-loveseats;
        }

        &.comfort{
            stroke: $color-blue-comfort;
        }

        &:hover{
            fill: $color-dark-chocolate;
        }

        &.occupied{
            fill: $color-dark-chocolate;
        }
    }
}

.additional-services{
    width: 100%;
    margin-bottom: 1vw;
    &__panel{
        list-style: none;
        display: inline-flex;
        width: 100%;
        padding: 0;
        justify-content: space-around;

        li{
            color: white;
            font-size: 1.5vw;
            padding: 0.5vw 1vw 0.5vw 1vw;
            cursor: pointer;
            transition: 0.5s;
        }

        li:hover{
            background-color: $color-dark-chocolate;
        }
    }
}