.list{
    width: 70%;
    margin: auto;
}

.nothing-found{
    width: 70%;
    margin: auto;
    margin-top: 3%;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2em;
    background-color: rgb(101, 95, 105);
    color: white;
    border: 1px dashed white;

}